// Bootstrap
@import '~bootstrap/scss/bootstrap';

// BASE
@import '1_base/reset';
@import '1_base/utils';
@import '1_base/breakpoints';
@import '1_base/colors';
@import '1_base/typography';

// ATOMS
@import '2_atoms/arrow';
@import '2_atoms/button';
@import '2_atoms/flex';
@import '2_atoms/full-center';
@import '2_atoms/hr';
@import '2_atoms/img';
@import '2_atoms/input';
@import '2_atoms/link';
@import '2_atoms/lists';
@import '2_atoms/mouse-scroll';
@import '2_atoms/noscroll';

// MOLECULES
@import '3_molecules/audio';
@import '3_molecules/hamburger';
@import '3_molecules/logo';
@import '3_molecules/parallax';
@import '3_molecules/svg';

// ORGANISMS
@import '4_organisms/header';
@import '4_organisms/mission-e';
@import '4_organisms/nav';
@import '4_organisms/page-transition';
@import '4_organisms/side-navigation';
@import '4_organisms/slick';

// PAGES
@import '5_pages/index';
@import '5_pages/models';



// FOLLOWING IS USED FOR SITE SCREENCAPS
// page transition
// body { background-color: green !important; } #smoothState { opacity: 0 !important; }

// intro
// .home .intro .container { opacity: 0 !important; } ::-webkit-scrollbar { display: none; }

// mission-e
// #sideNav { opacity: 0 !important;} ::-webkit-scrollbar { display: none; }