.home {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	//bg set in jpreLoader onComplete() to prevent white on load

	h1, h2, h3 { text-align: center; }

	.intro {
		margin-bottom: 90vh;

		.container {
			position: relative;
			z-index: 5;
			height: 100%;

			.txt .col {
				padding-top: 10%;
				padding-left: calc(15px + 10%);
			}
			
			.start_btn {
				position: absolute;
				bottom: 10%;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.parallax__container { z-index: auto;}

		.parallax.dark {
			background-image: path('intro_lights_off.jpg');
		}

		.parallax.light {
			background-image: path('intro_lights_on.jpg');
			opacity: 0;
			transition: .4s opacity ease-in-out;

			&.show,
			&.on { opacity: 1;}
		}
	}

	.overview {
		background-color: transparent; //required for animation
		padding-bottom: 500px;
		padding-bottom: 40vh;
	}

	.overview .car,
	.intro {
		width: 100%;
		height: 100vh;
		position: relative;
	}

	.car {
		.content {
			position: relative;
			top: calc(65px + 5%);

			.desc {
				width: 70%;
				display: block;
				margin: 0 auto;

				@include respond-to(phone) { width: 100%; }

				.title { opacity: 0;}

				a.model_link {
					position: relative;
					z-index: 2;
					border-color: $brandPrimary;

					&.hover_effect {
						padding: 7px 0;

						&:before { transition: width .5s; }

						&:hover::before {
							width: calc(100% + 42px);
						}
					}
				}

				.content-inner {
					text-align: center;

					.svg_container {
						opacity: 0;
						position: relative;
						min-height: 250px;
						margin-top: 40px;

						.svg {
							position: relative;
							min-height: inherit;
							width: 33%;
							position: absolute;
							bottom: -20px; left: 50%;
							//z-index: 1; //required to show before overlay

							svg,
							svg ellipse { transform: scaleX(-1); }

							&:nth-child(1) {
								transform: translateX(-110%);
							}
							&:nth-child(2) {
								transform:  translateX(-50%) translateY(-20px);
								z-index: 2;
							}
							&:nth-child(3) {
								transform: translateX(10%);
								svg { transform: scaleX(1);  }
							}
							
							&:nth-child(1) svg,
							&:nth-child(3) svg {
								.inner_1 { display: none; }
								ellipse { transform: scaleX(-1); }
							}
						}
					}
				}
			}
		}

		.parallax__container {
			z-index: auto;

			.parallax {
				background-position: 50% 90%;
				background-size: 55%;

				@include respond-to(phone) {
					background-size: 80%;
				}
			}
		}
	}

	#_718 .parallax { background-image: path('718.png','overview'); }
	#_911 .parallax { background-image: path('911.png','overview'); }
	#_panamera .parallax { background-image: path('panamera.png','overview'); }
	#_macan .parallax { background-image: path('macan.png','overview'); }
	#_cayenne .parallax { background-image: path('cayenne.png','overview'); }

	/*
	_718 		= 4.379 x 1.281
	_911 		= 4.562 x 1.250
	_Panamera 	= 5.049 x 1.432
	_Macan 		= 4.696 x 1.624
	_Cayenne 	= 4.918 x 1.696
	_mission-e 	= xxxx x 1.300
	scale 6.62598425197
	*/
}