body.home {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	//background set in jpreload

	.intro {

		.container {
			position: relative;
			height: 100%;

			.txt .col {
				padding-top: 10%;
				padding-left: calc(15px + 10%);
			}

			.logo {
			    color: $white;

				&:hover,
				&:focus {
					color: $white;
				}
			}

			.slogan {
				color: $white;
			}
			
			.start_btn {
				position: absolute;
				bottom: 10%;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.parallax.dark {
			background-image: path('intro_lights_off.jpg');
		}

		.parallax.light {
			background-image: path('intro_lights_on.jpg');
			opacity: 0;
			transition: .4s opacity ease-in-out;

			&.show,
			&.on { opacity: 1;}
		}
	}

	.overview {
		background-color: transparent; //required for animation
		padding-bottom: 500px;
		padding-bottom: 40vh;
	}
}


.logo {
    color: $brandSecondary;
    text-decoration: none;
    font-size: $size_s;

    span {
        color: $brandPrimary;
        font-weight: bold;
        margin-right: 2px;
        text-transform: uppercase;
    }

    &:hover span,
    &:focus span {
        color: $brandPrimary;
    }

    &:hover,
    &:focus {
        color: $brandSecondary;
        text-decoration: none;
    }
}

.slogan {
    color: $brandSecondary;
    letter-spacing: 0.5px;
    font-weight: bold;
}