.models {
	.model_header {
		color: $brandSecondary;
    	font-size: $size_s;
    }
    
	.not_found {
		.msg { text-align: center; }
		li {
			padding: 0 15px;
			border-right: 1px solid $dark;

			&:last-child { border-right: none; }
		}
	}

	#modelContainer {

		.model_slider {
			text-align: center;
			img {
				max-width: 65%;
				max-height: 100%;
				margin: 0 auto;
			}
		}

		section.model {
			
		}
	}
}