.models {
	.model_header {
		color: $brandSecondary;
    	font-size: $size_s;
    }

	.not_found {
		.msg { text-align: center; }
		li {
			padding: 0 15px;
			border-right: 1px solid $dark;

			&:last-child { border-right: none; }
		}
	}

	#model_container {

		#image_sequence {
			img { width: 100%; }

			div { position: relative; }
			h1, h2 {
				position: absolute;
				left: 0;
				top: -100px;
				transform: translateY(-100%);
				color: $white;
			}

			h1 { top: -125px; }
			h2 { font-size: $size_m }
		}

		.model_slider .slick-slide {
			text-align: center;
			cursor: pointer;

			img {
				max-width: 90%;
				max-height: 100%;
				margin: 0 auto;
			}

			&.slick-current li,
			&:hover li {
				$top: $white;
				$bot: $light;

				background: -moz-linear-gradient(top, rgba($top,1) 50%, rgba($bot,1) 100%); // FF3.6-15

				background: -webkit-linear-gradient(top, rgba($top,1) 50%,rgba($bot,1) 100%); // Chrome10-25,Safari5.1-6

				background: linear-gradient(to bottom, rgba($top,1) 50%,rgba($bot,1) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
			}
		}

		section.model {
			
		}
	}
}