.models {
	.model_name {
    	font-size: $size_s;
    	text-align: center;
    	font-weight: bold;
    }

	.not_found {
		.msg { text-align: center; }
		li {
			padding: 0 15px;
			border-right: 1px solid $dark;

			&:last-child { border-right: none; }
		}
	}

	#model_container {

		#image_sequence {
			position: relative;
			max-height: 100vh;
			overflow: hidden;

			img {
				min-width: 100%;
				max-width: 125%;
				max-height: 80vh;
			}

			.img_cover {
				background-color: rgba(#000, 0.75);
				position: absolute;
				top: 0;
				bottom: 0;
				width: 40%;
				&.left { left: 0; }
				&.right { right: 0; }
			}

			.container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				color: $white;
			}
			.content {
				color: $light;
				font-weight: bold;
				padding: 0 20px;
				width: 100%;
				max-width: 500px;
				position: absolute;
				left: 50%;
				top: 0; bottom: 0;
				transform: translateX(-50%);
				
				&:not(:first-child) {
					opacity: 0;
					transform: translate(-50%, 25%);
				}

				h1, h2 { color: $white; }
			}
		}
		

		.model_slider .slick-slide {
			text-align: center;
			cursor: pointer;

			img {
				max-width: 90%;
				max-height: 100%;
				margin: 0 auto;
			}

			&.slick-current li,
			&:hover li {
				$top: $white;
				$bot: $light;

				background: -moz-linear-gradient(top, rgba($top,1) 50%, rgba($bot,1) 100%); // FF3.6-15

				background: -webkit-linear-gradient(top, rgba($top,1) 50%,rgba($bot,1) 100%); // Chrome10-25,Safari5.1-6

				background: linear-gradient(to bottom, rgba($top,1) 50%,rgba($bot,1) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
			}
		}

		section.model {
			
		}
	}
}