$bgColor: white;

.models {
	.not_found {
		.msg { text-align: center; }
		li {
			padding: 0 15px;
			border-right: 1px solid $dark;

			&:last-child { border-right: none; }
		}
	}

	#model_container {

		// leave space if no img sequence
		> div:first-child { margin-bottom: -24px; }
		.model_filter { margin-top: 24px; }

		.scrollmagic-pin-spacer { background-color: $bgColor; }

		#image_sequence {
			position: relative;
			max-height: 100vh;
			overflow: hidden;

			img {
				min-width: 100%;
				max-width: 125%;
				max-height: calc(80vh - 65px);
				background-color: $light; //fallback
			}

			.img_cover {
				background-color: rgba(#000, 0.75);
				position: absolute;
				top: 0;
				bottom: 0;
				width: 40%;
				&.left { left: 0; }
				&.right { right: 0; }
			}

			.container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				color: $white;
			}
			.content {
				color: $light;
				font-weight: bold;
				padding: 0 20px;
				width: 100%;
				max-width: 500px;
				position: absolute;
				left: 50%;
				top: 0; bottom: 0;
				transform: translateX(-50%);
				
				&:not(:first-child) {
					opacity: 0;
					transform: translate(-50%, 25%);
				}

				h1, h2 { color: $white; width: 100%; }
			}
		}

		#scroll_indicator {
			text-align: center;
			position: fixed;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
		}

		.name_bg {
			h1 {
				font-size: $size_big;
				@include respond-to(phone) {font-size: $size-l;}
				color: $white;
				font-weight: 700;
				text-transform: lowercase;
				margin: 0;
				line-height: 1em;
			}

			position: absolute;
			top: 15px;
			&.Panamera,
			&.Cayenne { top: 0px; }
			&.Macan { top: -15px; }
		}

		#model_nav {
			position: relative;
			background-color: $bgColor;
		
			.model_filter {
				position: relative;
				.row {
					position: absolute;
					top: -24px;
					z-index: 1;
					margin: 0;
				}
			}

			.model_slider {
				.slick-slide {
					position: relative;
					z-index: 2;
					text-align: center;
					cursor: pointer;

					li { padding: 0 10% 2em; }

					img {
						max-height: 100%;
						margin: 0 auto;
						transition: transform .2s;
					}

					p.m {
						font-weight: bold;
						font-size: $size-xs;
					}

					//&.slick-current li,
					&:hover li {
						img { transform: scale(1.01);}
					}
				}
			}
		}

		.model_info {
			background-color: white;
			.dark {
				background-color: $black;
				color: $white;
				position: relative;
			}
		}

		.model_section {
			.container {
				padding-top: 100px;
				padding-bottom: 80px;
			}
			.dimensions {
				height: 350px;
				margin: -100px 30px 20px 0;
				width: calc(60% - 30px);
				position: relative;

				h2 { font-size: $size_big; }

				img { 
					max-height: 100%;
					position: relative;
					z-index: 1;
				}

				.dim{
					position: absolute;
					background-color: $white;
					width: 100%;
					height: 2px;
					text-align: center;
					white-space: nowrap;
					margin-bottom: 50px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 50%;
						width: 8px;
						height: 8px;
						border-left: 2px solid $white;
						border-bottom: 2px solid $white;
						transform: translateY(-50%) rotate(45deg);
					}

					&:before {
						left: 0;
						transform: translateY(-50%) rotate(45deg);
					}
					&:after {
						right: 0;
						transform: translateY(-50%) rotate(-135deg);
					}

					&.height {
						height: 2px;
						width: 300px;
						bottom: 3%;
						left: -15px;
						transform-origin: left;
						transform: rotate(-90deg);
					}

					&.width {
						top: 75%;
						transform: rotateX(85deg) rotateZ(-85deg);
						div { transform: rotateX(-85deg) rotateZ(85deg); }
					}
				}

				.width_txt {
					display: block;
					text-align: center;
					transform: rotate(-48deg);
					position: absolute;
					top: 71%;
				}
			}
			.model_intro {
				position: relative;
				text-align: right;
				width: 40%;
				
				h2{ color: $white; }
				a, p {
					position: absolute;
					right: 0;
					top: 50%;
				}
				p { margin-top: 1.5em; }

				
			}
		}
	}
}