$bgColor: white;

.models {
	.not_found {
		li {
			padding: 0 15px;
			border-right: 1px solid $dark;

			&:first-child { padding-left: 0; }
			&:last-child {
				border-right: none;
				padding-right: 0;
			}
		}
	}

	#model_container {

		// leave space if no img sequence
		> div:first-child { margin-bottom: -24px; }
		.model_filter { margin-top: 24px; }

		.scrollmagic-pin-spacer { background-color: $bgColor; }

		#image_sequence {
			position: relative;
			max-height: 100vh;
			overflow: hidden;

			img {
				min-width: 100%;
				max-width: 125%;
				max-height: calc(80vh - 65px);
				background-color: $white; //fallback
				object-fit: cover;

				@include respond-to(phone){
					height: 80vh;
					max-width: 100%;
				}
			}

			.img_cover {
				background-color: rgba(#000, 0.75);
				position: absolute;
				top: 0;
				bottom: 0;
				width: 40%;
				&.left { left: 0; }
				&.right { right: 0; }

				@include respond-to(phone){ width: 100%; }
			}

			.container {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				color: $white;

				@include respond-to(phone){
					left: auto;
					transform: none;
				}
			}
			.content {
				color: $light;
				font-weight: bold;
				padding: 0 20px;
				width: 100%;
				max-width: 500px;
				position: absolute;
				left: 50%;
				top: 0; bottom: 0;
				transform: translateX(-50%);
				
				&:not(:first-child) {
					opacity: 0;
					transform: translate(-50%, 25%);
				}

				h1, h2 { color: $white; width: 100%; }
			}
		}

		#scroll_indicator {
			text-align: center;
			position: fixed;
			bottom: 10%;
			left: 50%;
			transform: translateX(-50%);
			a {transition: opacity .2s; }
			@include respond-to(phone){ a {padding: 8px 0;}}
		}
		
		.name_container { position: relative; }
		.name_bg {
			h1 {
				font-size: $size_big;
				@include respond-to(phone) {font-size: $size-xxl;}
				color: $white;
				font-weight: 700;
				text-transform: lowercase;
				margin: 0;
				line-height: 1em;
			}

			position: absolute;
			top: 35px;
		}

		#model_nav {
			position: relative;
			z-index: 1;
			background-color: $bgColor;
			transition: transform .6s;

			&.show {
				transform: translateY(100%);
				@include respond-to(phone){ transform: none; }
			}
		
			.model_filter {
				position: relative;
				.row {
					position: absolute;
					top: -24px;
					z-index: 1;
					margin: 0;

					@include respond-to(phone){
						position: relative;
						top: 0;
						margin: 0 -15px;

						.btn { width: 100%; }
					}
				}
				@include respond-to(phone){
					.btn:not(.active) {
						background-color: $dark !important;
					}
				}
				.btn.no_active { background-color: $dark !important; }
			}

			.model_slider {
				.slick-slide {
					position: relative;
					z-index: 2;
					text-align: center;
					cursor: pointer;

					li {
						padding: 0 10% 0; 
						margin-top: -20px;
						@include respond-to(phone){
							padding: 0 10px;
							margin-top: 0;
						}
					}

					img {
						max-height: 100%;
						margin: 0 auto;
						transition: transform .2s;
					}

					p.m {
						font-weight: bold;
						font-size: $size-xs;
					}

					//&.slick-current li,
					&:hover li {
						img { transform: scale(1.01);}
					}
				}
			}
		}

		.model_info {
			background-color: white;
			.dark {
				background-color: $black;
				color: $white;
				position: relative;
			}
		}

		.model_section {
			div:first-child .container {
				padding-top: 100px;
				padding-bottom: 80px;

				@include respond-to(phone){
					padding: 0 15px;
				}
			}

			.img_container {
				height: 350px;
				margin: -100px 0px 0px 0px;
				width: 60%;
				@include respond-to(phone){
					width: 100%;
					margin: 0 0 -180px 0;
				}

				img { 
					max-height: 100%;
				}
			}

			.model_intro {
				position: relative;
				text-align: right;
				width: 40%;
				min-height: 130px;

				@include respond-to(phone){ width: 100%}
				
				h2{ color: $white; }
				a, p {
					position: absolute;
					right: 0;
					top: 50%;
				}
				p { margin-top: 1.5em; }
			}

			.details {
				padding-top: 60px;
				padding-bottom: 20px;
				background-color: $white;

				h2 { text-align: center; }

				.row { padding: 30px 0; opacity: 0;}

				ul li {
					display: flex;
					border-bottom: 1px solid $light;
					padding: 15px 15px;

					span:last-child { margin-left: auto; }
				}
			}
		}
	}
}