.logo {
    color: $brandSecondary;
    text-decoration: none;
    font-size: $size_s;
    font-weight: normal;
    @include respond-to(phone) { font-size: $size-xs; }

    span {
        color: $brandPrimary;
        font-weight: bold;
        margin-right: 2px;
        text-transform: uppercase;
    }

    &:hover span,
    &:focus span {
        color: $brandPrimary;
    }

    &:hover,
    &:focus {
        color: $brandSecondary;
        text-decoration: none;
    }


    &.white {
        color: $white;

        &:hover,
        &:focus {
            color: $white;
        }
    }
}

.slogan {
    color: $brandSecondary;
    letter-spacing: 0.5px;
    font-weight: bold;

    &.white { color: $white; }
}