.svg {
	display: table;
	position: relative;

	.svg_content {
		display: table-cell;
		vertical-align: bottom;
		text-align: center;
		font-weight: bold;
		position: relative;
		z-index: 2;

		.value {
			font-size: $size_s;
			color: $brandSecondaryDark;
			margin-bottom: 30px;
		}
		.unit {
			font-size: $size_xxxs;
			color: $brandSecondaryLight;
			margin-bottom: 35px;
		}
	}

	svg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	svg.speedometer {
		@include respond-to(phone) { display: none;}
		* { transform-origin: center; }

		.circle { fill: $light; stroke: $white; }
		.inner_1 { fill: none; stroke: $white; }
		.inner_2 { fill: none; stroke: $accent; }
		.stripes { fill: none; stroke: $white; }
		#grad stop:nth-child(1),
		#grad stop:nth-child(3) { stop-color: #FFF ; }
		#grad stop:nth-child(2) { stop-color: $white; }
	}
}