.btn {
    border: none;
    border-radius: 0;
    text-align: center;
    cursor: pointer;
    padding: 12px 20px;
    color: $white;
    background-color: $dark;
    transition: all .2s ease-in-out;
    @include respond-to(phone) { max-width: 100%; }

    &.active,
    &:hover, 
    &:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled):active:focus {
        outline: none;
        box-shadow: none;
        color: $white;
        background-color: $brandPrimaryDark;
    }

    &.btn-primary {
        background-color: $brandPrimaryDark;

        &.active,
        &:hover, 
        &:focus,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus {
            outline: none;
            box-shadow: none;
            color: $white;
            background-color: $dark;
        }
    }

    &.CTA {
        padding: 15px 25px;
        text-transform: uppercase;
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        
        font-size: $size_m;
        @include respond-to(phone) { font-size: $size_xs; }

        &.active,
        &:hover, 
        &:focus,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):active:focus {
            color: $white;
            background-color: transparent;
            border-color: $white;
        }

        &.disabled {
            background-color: transparent;
            color: $white;
            pointer-events: none;
            border: none;

            &:hover,
            &:focus {
                background-color: none;
                color: $dark;
            }
        }
    }
}