body.home {
	background: path('bg.jpg','cars') no-repeat fixed;
	background-size: cover;
	background-position: center bottom;
}

.overview .car,
.intro {
	width: 100%;
	height: 100vh;
	position: relative;
}

.intro {
	margin-bottom: 47vm; // IE9
	margin-bottom: 47vmax;
}

.car .content {
	position: relative;
	top: calc(65px + 5%);

	.desc {
		width: 50%;
		display: block;
		margin: 0 auto;

		@include respond-to(phone) { width: 100%; }

		.title, hr { opacity: 0; }

		.content-inner {
			margin-top: 10px;
			text-align: center;
			opacity: 0;
		}
	}
}

.car .parallax__container {
	z-index: auto;

	.parallax {
		background-position: 50% 75%;
		background-size: 70%;

		@include respond-to(phone) { background-position: 50% 100%; }
	}
}

#intro .parallax { background-image: path('intro.jpg','cars'); }
#_718 .parallax { background-image: path('718.png','cars/overview'); }
#_911 .parallax { background-image: path('911.png','cars/overview'); }
#_Panamera .parallax { background-image: path('panamera.png','cars/overview'); }
#_Macan .parallax { background-image: path('macan.png','cars/overview'); }
#_Cayenne .parallax { background-image: path('cayenne.png','cars/overview'); }

/*
_718 		= 4.379 x 1.281
_911 		= 4.562 x 1.250
_Panamera 	= 5.049 x 1.432
_Macan 		= 4.696 x 1.624
_Cayenne 	= 4.918 x 1.696
_mission-e 	= xxxx x 1.300
scale 6.62598425197
*/