#mission-e {
	overflow: hidden;
	position: relative;

	.title {
		margin-top: calc(65px + 5%);

		h1, h2 {
			color: $white;
			opacity: 0;
			&:first-child { margin-bottom: 1em; }
		}
	}

	#sequence {
		width: 100%;
		height: 100vh;

		.panel {
			height: 100%;
			width: 100%;
			position: absolute;
			overflow: hidden; // hides img

			img {
				width: 100%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(180deg);
			}

			&.left img { left: 100%; }
			&.right img { left: -100%; }

			&.p4 { background-color: white; }
		}
	}
}
