#mission-e {
	overflow: hidden;
	position: relative;

	.title {
		position: relative;
		height: 40vh;
		margin-top: calc(65px + 20%);
		margin-bottom: -25vh;

		.mouse_parent {
			opacity: 0;
			transition: 1s opacity;
			&.show { opacity: 1;}

			@include respond-to(phone){ display: none; }
		}
		

		h1, h2 {
			color: $white;
			opacity: 0;
			&:first-child { margin-bottom: 1em; }
		}
	}

	#sequence {
		width: 100%;
		height: 100vh;

		.panel {
			height: 100%;
			width: 100%;
			position: absolute;
			overflow: hidden; // hides img

			img {
				width: 100%;
				position: relative;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(180deg);
			}

			&.left img { left: 100%; }
			&.right img { left: -100%; }

			&.p4 { background-color: white; }
		}


		#mission_reveal {
			opacity: 0;

			h2 {
				position: absolute;
				top: calc(65px + 3%);
				left: 50%;
				transform: translateX(-50%);
			}
		}
	}

	.info {
		background-color: #fff;
		padding: 0 0 140px;
		margin-top: -5vw;

		@include respond-to(phone){
			padding-bottom: 60px;
			margin-top: -45vw;
		}

		.row { opacity: 0; }
		.col {
			max-width: 80%;
			margin: 0 auto;

			@include respond-to(phone){ max-width: none; }
		}
	}
}
