/*
 *
 * STYLING STRUCTURE
 *
 */

.mp-fade-content {
	&:after {
		position: fixed;
		z-index: -1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		content: '';
		opacity: 0;
		transition: opacity .4s;
		background: rgba(0,0,0,0.4);
	}
	&.mp-active:after{
		z-index: 10;
		opacity: 1;
	}
}

nav.mp-menu {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	width: 340px;
	@include respond-to(phone) { width: 300px; }
	height: 100%;
	transform: translateX(100%);

	.mp-level {
		padding-top: 65px;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: $dark;
		transform: translateX(0);
		transition: transform .3s ease-in-out;

		&.mp-level-open {
			transform: translateX(-100%);
			
			/* second or deeper lvl transform to right if not open */
			> ul > li > .mp-level {
				&.mp-level-open 		{ transform: translateX(0); }
				&:not(.mp-level-open) 	{ transform: translateX(100%); }
			}
		}
		
		/* fade out menu when sublevel is triggered */
		&:before {
			position: fixed;
			z-index: -1; // still clickable
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			content: '';
			opacity: 0;
			background: rgba(0,0,0,0.4);
			transition: opacity 0.3s;
		}

		&.mp-level-overlay:before {
			z-index: 1;
			opacity: 1;
		}
	}
	
	/* First level */
	> .mp-level {
		padding-top: 13px;
		@include respond-to(phone){ padding-top: 11px; }
	}
}


/*
 *
 * STYLING CONTENT
 *
 */

nav.mp-menu {
	h2 {
		margin: 0;
		padding: 1em;
		text-transform: uppercase;
		font-size: 1em;
		text-align: center;

		&:not(.logo) { color: darken($light, 40%); }

		@include respond-to(phone) { display: none; }
	}

	h2, a { font-weight: 700; }

	ul li a {
		color: $white;
		display: block;
		transition: background-color .2s;

		&.arrow {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				width: 8px;
				height: 8px;
				border-left: 1px solid $white;
				border-bottom: 1px solid $white;
			}

			&.left:before {
				left: 15px;
				transform: translateY(-50%) rotate(45deg);
			}

			&.right:before {
				right: 15px;
				transform: translateY(-50%) rotate(-135deg);
			}
		}
	}

	ul li > a { /* excludes back btn */
		padding: 15px 22px 15px 40px;
		border-bottom: 1px solid rgba($black, 0.3);

		&:hover,
		&.active {
			background-color: $brandPrimaryDark;
			color: $white;
		}
	}

	.mp-back {
		background-color: darken($dark, 2%);
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: $size-xxxs;
		padding: 12px;
		border-top: 1px solid rgba($black, 0.3);
		border-bottom: 1px solid rgba($black, 0.3);

		&:hover,
		&.active {
			background-color: $white;
			color: $black;
		}

		&.arrow:hover:before,
		&.arrow.active:before { border-color: $black; }
	}
	
	/* 2nd lvl or deeper */
	.mp-level > ul > li > .mp-level {
		ul li > a { padding-top: 8px; padding-bottom: 8px; }
	}
}