body {
	background-color: white;
	&.dark { background-color: black;}
}

#content {
	&:not(.home) main {
		padding-top: 65px;
		background-color: $white;
	}

	&.animate {
		/*
		 * ONLY on page refresh
		 * class removed before page transition
		 * in smoothState.onReady
		 * location.reload -> animation plays
		 */
		animation: fadeInContent .8s ease-in;

		@keyframes fadeInContent {
			from { opacity: 0; }
			to { opacity: 1; }
		}
	}
}

.page_transition {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: none; // doesnt show during page load

	div {
		position: absolute;
		width: 100%;
	}

	.color {
		left: 0;
		top: 0;
		height: 100vh;
		overflow: hidden;
		transform: translateX(-100%); // start offscreen
	}

	.c1 { background-color: $brandPrimary; }
	.c2 { background-color: black; color: white;}

	.logo {
		top: 50%;
		left: 100%;
		text-align: center;
		font-size: $size-xxl;
		transform: translateY(-50%);

		@include respond-to(phone) { font-size: $size-l; }
	}
}