#sideNav {
	position: fixed;
	top: 50%; left: 0;
	transform: translateX(-100%) translateY(-50%);
	z-index: 10;
	transition: 0.4s transform ease-in-out;

	&.visible { transform: translateX(calc(-100% + 95px)) translateY(-50%); }

	ul li  {
		display: table;
		margin-left: auto;
	}

	.list-group-item {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 12px 15px;
		border: none;
		border-radius: 0;
		background-color: transparent;
		color: transparent;
		text-decoration: none;
		font-weight: bold;
		transition: .4s transform ease-in-out, .2s background-color, .2s color;

		&.active, 
		&:hover,
		&:focus {
			background-color: $brandPrimaryDark !important;
			color: $white !important;
		}

		img {
			height: 100%;
			padding: 10px;
			position: absolute;
			right: 0; top: 50%;
			transform: translateY(-50%);
			transition: .35s right ease-in-out .05s;
		}

		span {
			margin-right: 90px;
			transition: .4s margin ease-in-out;
		}

		&:hover { transform: translateX(calc(100% - 95px)); }
		&:hover img { right: calc(100% - 95px); }
		&:hover span { margin-right: 0; margin-left: 90px; }
	}
}