$brandPrimary:			#B13C3C;
$brandPrimaryDark:		darken( $brandPrimary, 10% );
$brandPrimaryLight:		lighten( $brandPrimary, 10% );

$brandSecondary:		#7D7D7D;
$brandSecondaryDark:	darken( $brandSecondary, 10% );
$brandSecondaryLight:	lighten( $brandSecondary, 10% );


$black:					#151515;
$dark:					#32313c;
$light:					#D6D6D6;
$white:					#F1F1F1;

$accent:				#F49F29;