*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	/* fix fonts cross browser */
    -webkit-font-smoothing: antialiased; /* safari same as chrome */
    -moz-osx-font-smoothing: grayscale; /* fix bold firefox mac */
    text-transform: none; /* mac firefox fix */

    main { min-height: 100vh;}
}